@font-face {
  font-family: 'Raleway';
  src: url("../fonts/../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraLight.eot");
  src: url("../fonts/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraLight.woff") format("woff"), url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Italic.eot");
  src: url("../fonts/Raleway-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Italic.woff") format("woff"), url("../fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ThinItalic.eot");
  src: url("../fonts/Raleway-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ThinItalic.woff") format("woff"), url("../fonts/Raleway-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBoldItalic.eot");
  src: url("../fonts/Raleway-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff"), url("../fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-LightItalic.eot");
  src: url("../fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-LightItalic.woff") format("woff"), url("../fonts/Raleway-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-BlackItalic.eot");
  src: url("../fonts/Raleway-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-BlackItalic.woff") format("woff"), url("../fonts/Raleway-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraLightItalic.eot");
  src: url("../fonts/Raleway-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraLightItalic.woff") format("woff"), url("../fonts/Raleway-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-SemiBoldItalic.eot");
  src: url("../fonts/Raleway-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBoldItalic.woff") format("woff"), url("../fonts/Raleway-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-MediumItalic.eot");
  src: url("../fonts/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-MediumItalic.woff") format("woff"), url("../fonts/Raleway-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Black.eot");
  src: url("../fonts/Raleway-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-BoldItalic.eot");
  src: url("../fonts/Raleway-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-BoldItalic.woff") format("woff"), url("../fonts/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Thin.eot");
  src: url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* line 7, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Serif", "sans-serif"; }

/* line 15, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
body {
  background-color: #ebebeb;
  font-size: 16px; }

/* line 20, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
.container {
  min-width: 1103px;
  margin-bottom: 0; }

/* line 24, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
.section {
  background-color: white; }

/*section: logo + input search*/
/* line 29, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
.top {
  display: flex;
  align-items: center;
  min-width: 1103px;
  min-height: 0;
  margin-top: 0;
  margin-bottom: 10px; }
  /* line 39, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .top .five.columns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 0; }
  /* line 47, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .top form {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0 10px 0; }
    /* line 54, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .top form input {
      display: flex;
      border-radius: 0;
      margin-bottom: 0;
      align-self: center; }
  /* line 62, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .top .fa.fa-search {
    position: absolute;
    height: 38px;
    right: 0px;
    top: 10px;
    bottom: 0;
    padding: 4px 6px 4px 6px;
    font-size: 24px;
    color: #4FC3D8;
    border: 1px solid #D1D1D1;
    border-radius: 0;
    margin-bottom: 0; }
  /* line 75, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .top .three.columns {
    /*div with button ZALOGUJ*/
    margin-left: 0; }
  /* line 78, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .top .button {
    /*button ZALOGUJ*/
    height: 30px;
    padding: 0 55px 0 55px;
    margin-left: 10px;
    font-size: 1.4rem;
    margin-bottom: 0;
    color: white;
    background-color: #4FC3D8;
    border: #4FC3D8;
    text-transform: none;
    text-align: center;
    line-height: normal;
    font-weight: normal; }

/*section - class menu*/
/* line 97, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
.menu {
  display: flex;
  background-color: white;
  font-family: "Raleway", "Serif", "sans-serif";
  text-align: right;
  padding: 20px 20px 0 10px;
  align-items: center; }
  /* line 105, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .menu ul {
    display: flex;
    background-color: white;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 0;
    padding-top: 10px; }
  /* line 117, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .menu li {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 1.4rem;
    color: #8f8f8f;
    border-right: 1px solid #8f8f8f; }
  /* line 126, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .menu span {
    /*Bezpieczny Bank*/
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Times New Roman";
    font-weight: normal;
    align-self: flex-start; }

/*section - class banner*/
/* line 139, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
.banner {
  display: flex;
  padding-top: 25px;
  background-color: #4FC3D8;
  z-index: 1;
  position: relative;
  line-height: 0; }
  /* line 150, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .banner div.columns img:first-child {
    height: 450px;
    z-index: 10;
    width: 100%;
    padding-bottom: 0; }
  /* line 157, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .banner div.columns #line {
    position: absolute;
    top: 0; }
  /* line 162, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .banner div.offer-box {
    display: flex;
    flex-direction: column;
    width: 394px;
    height: 200px;
    background-color: #4FC3D8;
    position: absolute;
    top: 100px;
    right: 0;
    color: white;
    padding: 29px 10px 10px 35px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px; }
    /* line 176, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .banner div.offer-box h1 {
      font-family: "Raleway", "Serif", "sans-serif";
      font-size: 3.2rem;
      text-transform: uppercase;
      font-weight: 500; }
    /* line 182, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .banner div.offer-box h3 {
      font-family: "Raleway", "Serif", "sans-serif";
      font-size: 2rem;
      margin-bottom: 0;
      letter-spacing: 0.02rem; }
    /* line 189, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .banner div.offer-box button {
      font-family: "Raleway", "Serif", "sans-serif";
      font-size: 1.6rem;
      text-transform: uppercase;
      color: white;
      background-color: #262626;
      border: 1px solid #262626;
      font-weight: normal;
      position: absolute;
      left: 35px;
      bottom: 10px;
      padding: 6px 55px;
      line-height: normal;
      -webkit-border-radius: 10px 10px;
      -moz-border-radius: 10px 10px;
      -ms-border-radius: 10px 10px;
      border-radius: 10px 10px; }

/*section - class offer*/
/* line 212, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
.offer {
  display: flex;
  background-color: white;
  font-family: "Raleway", "Serif", "sans-serif";
  padding: 20px 0 0 0; }
  /* line 218, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .offer div {
    text-align: left;
    padding: 15px 20px 0 10px; }
    /* line 222, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .offer div p {
      font-size: 1.5rem;
      line-height: 2rem;
      padding-right: 10px; }
  /* line 231, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .offer .five.columns {
    /*img keys*/ }
    /* line 232, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .offer .five.columns img {
      margin-top: 30px; }
  /* line 237, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .offer .seven.columns h1 {
    font-size: 3rem;
    padding: 0 20px 20px 0; }
  /* line 241, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .offer .seven.columns p {
    padding-bottom: 20px; }
  /* line 245, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .offer .sliders {
    padding-left: 75px;
    padding-right: 75px; }
    /* line 249, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .offer .sliders h1 {
      font-size: 3rem;
      padding: 20px 20px 20px 0; }
    /* line 254, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .offer .sliders p {
      font-weight: bold; }
    /* line 257, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .offer .sliders .ui-slider-horizontal {
      height: 0.1rem;
      margin: 15px 15px 15px 0; }
      /* line 262, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
      .offer .sliders .ui-slider-horizontal .ui-slider-range {
        height: 1rem; }
      /* line 265, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
      .offer .sliders .ui-slider-horizontal .ui-slider-handle {
        background: #4FC3D8;
        border: none;
        width: 3rem;
        height: 2.5rem; }

/* line 277, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
.learn-more {
  display: flex;
  background-color: white;
  font-family: "Raleway", "Serif", "sans-serif";
  padding: 0 0 20px 0; }
  /* line 283, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .learn-more a {
    float: right;
    font-size: 2rem;
    padding-right: 75px; }

/*section -class contact*/
/* line 293, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
.contact {
  background-color: #4FC3D8;
  padding: 60px 50px 75px 50px;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Raleway", "Serif", "sans-serif"; }
  /* line 300, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .contact div {
    align-items: center;
    text-align: center; }
  /* line 305, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .contact h1 {
    padding-top: 15px;
    font-size: 3.2rem;
    margin-bottom: 0; }
  /* line 310, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .contact h3 {
    font-size: 1.5rem;
    letter-spacing: 0.02rem; }
  /* line 314, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .contact button {
    font-size: 2rem;
    border: 1px solid white;
    color: white;
    text-transform: none;
    font-weight: normal;
    padding: 5px 35px 5px 35px;
    height: 55px;
    -webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -ms-border-radius: 10px 10px;
    border-radius: 10px 10px; }
  /* line 324, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .contact .ask {
    padding: 5px 75px 5px 75px; }
  /* line 327, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .contact .check-this {
    padding: 5px 75px 5px 75px; }

/* line 333, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
.info {
  font-family: "Raleway", "Serif", "sans-serif";
  background-color: white;
  padding-left: 70px;
  padding-right: 70px; }
  /* line 338, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  .info div {
    display: flex;
    justify-content: center;
    padding-top: 30px; }
    /* line 343, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .info div ul {
      list-style-type: square;
      font-size: 1.9rem;
      font-weight: bold;
      color: #8f8f8f; }
    /* line 349, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    .info div li {
      line-height: 2.5rem;
      font-size: 1.5rem;
      color: #8f8f8f;
      font-weight: normal; }

/* line 358, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
footer {
  font-family: "Raleway", "Serif", "sans-serif";
  font-size: 1.3rem;
  color: #8f8f8f; }
  /* line 363, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  footer .eight.columns div {
    width: 100%; }
  /* line 368, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  footer .four.columns li {
    border-right: 1px solid #8f8f8f;
    padding-right: 10px;
    padding-left: 10px; }
  /* line 374, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
  footer .four.columns ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    /* line 379, Z:/CodersLab/Warsztaty/Workshop_2 BB/scss/style.scss */
    footer .four.columns ul ul:last-child {
      border: none; }

/*# sourceMappingURL=style.css.map */
