//sizes
$container-width: 1103px;

$main-font-size: 16px;

//colors
$main-background-color: #ebebeb;
$baner-background-color: #4FC3D8;
$section-background-color:white;

//fonts' colors

$fonts-color-span: #58a39f;
$fonts-color-grey-header: #8f8f8f;
$fonts-color-contact: white;


//fonts' sizes
$main-font-size: 16px;
$main-font-family: "Raleway", "Serif", "sans-serif"
    
