@import "modules/fonts";
@import "modules/variables";



*{
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: $main-font-family;
}

body{
    background-color: $main-background-color;
    font-size: $main-font-size;
}

.container {
	min-width: $container-width;
    margin-bottom: 0;
}
.section {
    background-color: $section-background-color;
}

/*section: logo + input search*/
.top { 
	display: flex;
	align-items: center;
    min-width: $container-width;
    min-height: 0;
    margin-top: 0;
    margin-bottom: 10px;
    
    
   
    .five.columns {  //div with logo
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
        width: 100%;
        margin-bottom: 0;
	}
    form {
        
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px 0 10px 0;
        
        input { //input search
            display: flex;
            border-radius: 0;
            margin-bottom: 0;
            align-self: center;
        }
    }

    .fa.fa-search {
        position: absolute;
        right: 0px;
        top: 10px;
        bottom: 0;
        padding: 4px 6px 4px 6px;
        font-size: 24px;
        color: $baner-background-color;
        border: 1px solid #D1D1D1;
        border-radius: 0;
        margin-bottom: 0;
    }
    .three.columns { /*div with button ZALOGUJ*/
        margin-left: 0;
    }
    .button { /*button ZALOGUJ*/
        
        height: 30px;
        padding: 0 55px 0 55px;
        margin-left: 10px;
        font-size: 1.4rem;
        margin-bottom: 0;
        color: white;
        background-color: $baner-background-color;
        border: $baner-background-color;
        text-transform: none;
        text-align: center;
        line-height: normal;
        font-weight: normal;
    }
}


/*section - class menu*/
.menu {
	display: flex;
    background-color: $section-background-color;
    font-family: $main-font-family;
    text-align: right;
    padding: 20px 20px 0 10px;
    align-items: center;

	ul {
        
        display: flex;
        background-color: $section-background-color;
		display: flex;
		list-style-type: none;
		flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin-bottom: 0;
        padding-top: 10px;
    }
    li{
        
        padding-right: 12px;
        padding-left: 12px;
		font-size: 1.4rem;
		color: $fonts-color-grey-header;
        border-right: 1px solid $fonts-color-grey-header;

	}
    span { /*Bezpieczny Bank*/
        
        font-weight: bold;
        font-size: 2.5rem;
        font-family: "Times New Roman";
        font-weight: normal;
        align-self: flex-start;
        
    }
}

/*section - class banner*/

.banner {
    display: flex;
    padding-top: 25px;
    background-color: $baner-background-color;
    z-index: 1;
    position: relative;
    line-height: 0;
    
    
    div.columns {
        
        img:first-child {
            height: 450px;
            z-index: 10;
            width: 100%;
            padding-bottom: 0
        }

        #line {
            position: absolute;
            top: 0;
        }
    }
    div.offer-box {
        display: flex;
        flex-direction: column;
        
        width: 394px;
        height:200px;
        background-color: $baner-background-color;
        position: absolute;
        top: 100px;
        right: 0;
        color: white;
        padding: 20px;
        h1 {
            font-family: $main-font-family;
            font-size: 1.9rem;
            text-transform: uppercase;
            font-weight: bold;
        }
        h3 {
            font-family: $main-font-family;
            font-size: 1.1rem;
            
            
        }
        button {
            
            font-family: $main-font-family;
            font-size: 1.1rem;
            text-transform: uppercase;
            color: white;
            background-color: $fonts-color-grey-header;
            border: 1px solid $fonts-color-grey-header;
           
        }
    }
    
}

/*section - class offer*/
.offer {
    display: flex;
    background-color: $section-background-color;
    font-family: $main-font-family;
    div:first-child {
        display: flex;
        align-items: center;
        text-align: left;
        padding: 20px;
        h1 {
            font-size: 1.8rem;
        };
        p {
            font-size: 0.9rem;
        }
        a {
            float: right;
            font-size: 1.1rem;
        }
        
    }
}

/*section -class contact*/

.contact {
    background-color: $baner-background-color;
    padding: 50px;
    align-items: center;
    justify-content: center;
    color: $fonts-color-contact;
    font-family: $main-font-family;
    div {
        align-items: center;
        text-align: center;
    };
    
    h1{
        font-size: 2rem;
        margin-bottom: 0;
    }
    h3 {
        font-size: 1rem;
    }
    button {
        font-size: 1.4rem;
    }
}

//section -  class info//
.info {
    font-family: $main-font-family;
    ul {
        font-size: 1.1rem;
    }
    li {
        font-size: 0.9rem;
    }
}

footer {
    font-family: $main-font-family;
    font-size: 0.9rem;
}